.stay-safe {
  width: 100%;
  padding: 79px 0;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 719px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__card-box {
    min-width: 338px;
    height: 542px;
    background-image: url("/images/stay_safe.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 30px 0 100px;

    @media (max-width: 908px) {
      margin: 0 30px 0 50px;
    }
  }

  &__title-box {
    max-width: 392px;
    padding: 0 0 0 11px;
    margin: 152px 0 0;
    margin-right: 20px;

    @media (max-width: 775px) {
      margin: 100px 0 0;
    }

    @media (max-width: 705px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
